{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{parent()}}
     <link rel="stylesheet" href="{{asset('css/home/home_styles.css')}}">
{% endblock %}

{% block body %}

    <div class='content' >
        {% include 'home/players_form.html.twig' %}
    </div>

{% endblock %}

{% block javascripts %}
    {{parent()}}

    <script>
        
        $("#send_players").on('click', ()=>{  
            if(are_inputs_filled()){                
                retrieve_or_start_game();
            }    
        });  

        {##
         Función para validar que los inputs para el nombre de los jugadores estén rellenos, de lo contrario los colorea de rojo. 
        ##}
        function are_inputs_filled(){
            
            if($("#player1").val() != "" && $("#player2").val() != "") {
                if($("#player1").val() == $("#player2").val()){
                     Swal.fire(
                        'Los nombres deben ser diferentes',
                        '',
                        'error'
                    )
                    return false;
                }else{
                    $(".error").removeClass('error');
                    return true;
                }
                
            }else{
                $("input").map( (index, element) => {
                    if ($(element).val() == ""){
                        $(element).addClass('error');
                        $(element).focus();
                    }                       
                    else
                        $(element).removeClass('error');
                });
                return false;
            }            
        } 

        {##
            Función que busca si hay una partida anterior sin finalizar para los usuarios indicados y pregunta si se desea recuperarla. Si no hay, o no se quiere recuperarla, redirige a una nueva partida.
        ##}
        function retrieve_or_start_game(){
            $.ajax({
                url: '{{ path('retrieve_game') }}',
                data: {
                    'playerOne': $('#player1').val().trim().replace(' ', '_'), 
                    'playerTwo': $("#player2").val().trim().replace(' ', '_')
                    },
                type: 'POST',
                success:function (data){

                    if(data['code'] && data['code'] != 200){
                        send_generic_error(data['message']);
                    }else{         

                        let last_game = null;   

                        if(data['data'] && data['data'] != null && data['data'] != "" ){                    
                            Swal.fire({
                                title: '¿Desea continuar la última partida?',
                                text: "De lo contrario se iniciará una nueva",
                                icon: 'question',
                                showCancelButton: true,
                                confirmButtonColor: '#3085d6',
                                cancelButtonColor: '#d33',
                                confirmButtonText: 'Sí',
                                cancelButtonText: 'No'
                            }).then((result) => {
                                if (result.value) {
                                    load_game(data['data']);  
                                }else{
                                    load_game();
                                }
                            })
                        }else{
                            load_game();
                        }                                            
                    }                  
                },error: function(error){
                    send_generic_error();
                }
            });
        }

        {##
            Función para comenzar el juego, cargando la vista del tablero que corresponda (partida recuperada o nueva)
        ##}
        function load_game(last_game_id = ""){
         
            $.ajax({
                url: '{{ path('play_game') }}',
                data: {'playerOne': $('#player1').val().trim().replace(' ', '_'), 
                       'playerTwo': $("#player2").val().trim().replace(' ', '_'), 
                       'gameId': last_game_id
                       },
                type: 'POST',
                success:function (data){
                    $(".content").html(data);
                },
                error: function(error){
                    send_generic_error();
                }
            });

        }
    </script>
{% endblock %}